[submodule "bolos-sys/sdk/nanos-secure-sdk"]
	path = bolos-sys/sdk/nanos-secure-sdk
	url = https://github.com/LedgerHQ/nanos-secure-sdk
[submodule "bolos-sys/sdk/ledger-secure-sdk"]
	path = bolos-sys/sdk/ledger-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk
